h4 Sayın #{locals.name}.
p
  | #{locals.domain} hesabınız için şifre sıfırlama talebinde bulunuldu.
  | Eğer bu talebi siz yapmadıysanız bu mesajı dikkate almayın.
  | Hesabınız ve şifrenizde herhangi bir değişiklik olmayacaktır.
p
  | Şifrenizi şimdi sıfırlamak istiyorsanız aşağıdaki adrese tıklayın.
  | Açılacak sayfadan yeni şifrenizi girebileceksiniz.
  br
  | Hesabınız ile ilgili sorunlar için #{locals.supportEmail} adresine e-posta gönderebilirsiniz.
  br
  | İyi günler, iyi çalışmalar dileriz.
p
  strong=locals.sender
p
  a(href="#{locals.link}")=#{locals.link}