h4 Sayın #{locals.name}, #{locals.domain} sitesine hoşgeldiniz.
  |
p
  | Üyelik işlemlerinizin tamamlanabilmesi için aşağıda mesajın sonundaki internet adresine tıklayın, veya adresi kopyalayıp
  | internet tarayıcınızın adres satırına yapıştırın. Açılacak sayfada aktivasyon işleminiz tamamlanacaktır.
  | Bu işlemlerden sonra siteye kullanıcı ve şifrenizle giriş yaparak hizmetlerimizden faydalanabilirsiniz.
  br
  | Hesabınız ile ilgili sorularınız için #{locals.supportEmail} adresine e-posta gönderebilirsiniz.
  br
  | İyi günler, iyi çalışmalar dileriz.
p
  strong=locals.sender
p
  a(href="#{locals.link}")=#{locals.link}